chromadb==0.5.5
Flask==3.0.3
flask_cors==5.0.0
langchain==0.2.15
langchain_community==0.2.15
langchain_core==0.2.37
langchain_groq==0.1.9
Markdown==3.7
PyJWT==2.9.0
python-dotenv==1.0.1
python_bcrypt==0.3.2
redis==5.0.8
SQLAlchemy==2.0.30
Werkzeug==3.0.4
